<div class="header">
    <h1><a href="index.aspx"><img src="<%templateskin%>/images/logo.jpg" width="301" height="62" alt="安化县民医院官方网站" title="安化县人民医院官方网站" /></a></h1>
    <h2>
        <span class="sty_right">
        <!--<a href="Site_Map.aspx">站点地图</a> |-->
        <a href="javascript:void(0)" onclick="addToFavorite()">加入收藏</a> | 
        <!--<a href="#" target="_blank">人事管理</a> |-->  
        <a href="#" target="_blank">内部OA</a>  </span>
    </h2>
    <input type="text" class="search" name="tbSearch" id="tbSearch" value="" onkeypress="if(event.keyCode==13){document.all.btnSearch.click();return false;}" placeholder="输入回车搜索" x-webkit-speech=""  />
    <input type="button" class="btn_search" name="btnSearch" id="btnSearch" value="搜 索" onclick="SearchWords()" />
</div>