<div class="q_nav">
                    <h3><span><a href="javascript:void(0)" id="ShowNav">简洁显示</a></span>快速导航</h3>
                    <div id="NavSuccinctly">
                        <dl class="cont">
                            <dt><a href="visit_nav.aspx" target="_blank"><img src="<%templateskin%>/images/ico_01.png" width="44" height="41" alt="科室导航" title="科室导航" /></a></dt>
                            <dd class="til"><a href="visit_nav.aspx" target="_blank">科室导航</a></dd>
                            <dd class="cont">按医学分类，浏览其下辖科室详细内容；顶部模型图操作：移动鼠标至相应部位，系统自动罗列当前部位所涉及科室。</dd>
                            <dd class="btn"><a href="visit_nav.aspx" target="_blank"><img src="<%templateskin%>/images/btn_01.jpg" width="74" height="23" alt="查看更多" title="查看更多" /></a></dd>
                        </dl>
                        <dl>
                            <dt><a href="time.aspx" target="_blank"><img src="<%templateskin%>/images/ico_nav004.png" width="42" height="42" alt="出诊安排" title="出诊安排" /></a></dt>
                            <dd class="til"><a href="time.aspx" target="_blank">出诊安排</a></dd>
                            <dd class="cont">对五天工作日内值班情况做精确显示，周末值班信息仅供参考。</dd>
                            <dd class="btn"><a href="time.aspx" target="_blank"><img src="<%templateskin%>/images/btn_01.jpg" width="74" height="23" alt="查看更多" title="查看更多" /></a></dd>
                        </dl>
                        <dl style="border-bottom:none;">
                            <dt><a href="infor_retrieval.aspx" target="_blank"><img src="<%templateskin%>/images/ico_nav008.png" width="42" height="42" alt="信息查询" title="信息查询" /></a></dt>
                            <dd class="til"><a href="infor_retrieval.aspx" target="_blank">信息查询</a></dd>
                            <dd class="cont">按查询词条首位字母快速索引相关查询结果，同时支持关键字模糊查询。</dd>
                            <dd class="btn"><a href="infor_retrieval.aspx" target="_blank"><img src="<%templateskin%>/images/btn_01.jpg" width="74" height="23" alt="查看更多" title="查看更多" /></a></dd>
                        </dl>
                    </div>
                    <div class="quick_nav">
                        <ul>
                            <li><a href="<%linkurl("treatment_list",52)%>" target="_blank"><img src="<%templateskin%>/images/ico_nav001b.png" width="54" height="54" alt="就诊指南" title="就诊指南" /><img class="NavNone" src="<%templateskin%>/images/ico_nav001.png" width="54" height="54" alt="就诊指南" title="就诊指南" /><p>就诊指南</p></a></li>
                            <li><a href="<%linkurl("experts_list")%>" target="_blank"><img src="<%templateskin%>/images/ico_nav002b.png" width="54" height="54" alt="科室导航" title="科室导航" /><img class="NavNone" src="<%templateskin%>/images/ico_nav002.png" width="54" height="54" alt="科室导航" title="科室导航" /><p>科室导航</p></a></li>
                            <li><a href="#" target="_blank"><img src="<%templateskin%>/images/ico_nav003b.png" width="54" height="54" alt="人医地图" title="人医地图" /><img class="NavNone" src="<%templateskin%>/images/ico_nav003.png" width="54" height="54" alt="人医地图" title="人医地图" /><p>人医地图</p></a></li>
                            <li><a href="#" target="_blank"><img src="<%templateskin%>/images/ico_nav004b.png" width="54" height="54" alt="出诊安排" title="出诊安排" /><img class="NavNone" src="<%templateskin%>/images/ico_nav004.png" width="54" height="54" alt="出诊安排" title="出诊安排" /><p>出诊安排</p></a></li>
                            <li><a href="#" target="_blank"><img src="<%templateskin%>/images/ico_nav005b.png" width="54" height="54" alt="预约挂号" title="预约挂号" /><img class="NavNone" src="<%templateskin%>/images/ico_nav005.png" width="54" height="54" alt="预约挂号" title="预约挂号" /><p>预约挂号</p></a></li>
                            <li><a href="#" target="_blank"><img src="<%templateskin%>/images/ico_nav006b.png" width="54" height="54" alt="来院路线" title="来院路线" /><img class="NavNone" src="<%templateskin%>/images/ico_nav006.png" width="54" height="54" alt="来院路线" title="来院路线" /><p>来院路线</p></a></li>
                            <li><a href="#" target="_blank"><img src="<%templateskin%>/images/ico_nav007b.png" width="54" height="54" alt="电话查询" title="电话查询" /><img class="NavNone" src="<%templateskin%>/images/ico_nav007.png" width="54" height="54" alt="电话查询" title="电话查询" /><p>电话查询</p></a></li>
                            <li><a href="<%linkurl("search")%>" target="_blank"><img src="<%templateskin%>/images/ico_nav008b.png" width="54" height="54" alt="信息查询" title="信息查询" /><img class="NavNone" src="<%templateskin%>/images/ico_nav008.png" width="54" height="54" alt="信息查询" title="信息查询" /><p>信息查询</p></a></li>
                            <li><a href="http://e.weibo.com/hnsrmyybnly" target="_blank"><img src="<%templateskin%>/images/ico_nav009b.png" width="54" height="54" alt="人医微博" title="人医微博" /><img class="NavNone" src="<%templateskin%>/images/ico_nav009.png" width="54" height="54" alt="医生微博" title="医生微博" /><p>人医微博</p></a></li>
                            <li><a href="#" target="_blank"><img src="<%templateskin%>/images/ico_nav010b.png" width="54" height="54" alt="站点地图" title="站点地图" /><img class="NavNone" src="<%templateskin%>/images/ico_nav010.png" width="54" height="54" alt="站点地图" title="站点地图" /><p>站点地图</p></a></li>
                            <li><a href="<%linkurl("feedback")%>" target="_blank"><img src="<%templateskin%>/images/ico_nav011b.png" width="54" height="54" alt="在线留言" title="在线留言" /><img class="NavNone" src="<%templateskin%>/images/ico_nav011.png" width="54" height="54" alt="在线留言" title="在线留言" /><p>在线留言</p></a></li>
                            <li><a href="<%linkurl("down")%>" target="_blank"><img src="<%templateskin%>/images/ico_nav014b.png" width="54" height="54" alt="资料下载" title="资料下载" /><img class="NavNone" src="<%templateskin%>/images/ico_nav014a.png" width="54" height="54" alt="资料下载" title="资料下载" /><p>资料下载</p></a></li>
                        </ul>
                    </div>
                </div>