<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{get_channel(channel).title}  - {site.name}</title>
<meta name="keywords" content="{site.seo_keyword}" />
<meta name="description" content="{site.seo_description}" />
<link href="<%templateskin%>/css/style.css" rel="stylesheet" type="text/css" />

    <link href="<%templateskin%>/css/common.css" rel="stylesheet" type="text/css" />
    <link href="<%templateskin%>/css/second.css" rel="stylesheet" type="text/css" />
    <link href="<%templateskin%>/css/base.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/common.js"></script>

<script type="text/javascript">
$(function(){
	$(".focusbox").flexslider({
		directionNav: false,
		pauseOnAction: false
	});
});
</script>
</head>

<body>
	<div class="wrap">
<!--Header-->
<%template src="_header.html"%>
<!--/Header-->
 <!--content begin-->
  <div class="content mob_ks">
    <div class="left ks_left">
    	
      <h3>{get_channel(channel).title}</h3>
      <h4>{channel.ToUpper()}<br /> </h4>
      <div class="ks_listL">
        <h5><img src="<%templateskin%>/images/pic_kstel.jpg" width="167" height="61" alt="医院总机" title="医院总机" /><br /><a href="Telephone.aspx"><em>按步骤精确查找号码</em></a></h5>
        <ul><!--此处显示子栏目标题列表-->
           <%set DataTable categoryList1=get_category_child_list(channel, 0)%>
	    <%foreach(DataRow cdr1 in categoryList1.Rows)%>
	        <li><a href="<%linkurl({channel+"_list"},{cdr1[id]})%>">{cdr1[title]}</a></li>
	    <%/foreach%>
        </ul>
      </div>        
    </div>
    <div class="right mob_right science">
      <div class="site_nav">首页 > {get_channel(channel).title}</div>
       <div class="mob_mx01 share">
        <h3 id="H3Title">{model.title}</h3>
<div class="ToolBar">发布者：<span id="SpanAuthor">{real_name}</span>&nbsp; <em id="addtime">发布日期:{model.add_time}</em> &nbsp;  
	<span id="SpanHitNum">浏览量:
		<script type="text/javascript" src="{config.webpath}tools/submit_ajax.ashx?action=view_article_click&id={model.id}&click=1"></script></span>
 </div>
 		<!--分享-->
    	<%template src=/_share_js.html/%>
    	<!--/分享-->
        <div id="Ul_Content"><!--StartFragment -->

		{model.content}</br>

        </div>
        
    <!--上下篇-->
    <div class="corlnum">
            <ul>
                <li><%=get_prevandnext_article("news_show", -1, "[已经是第一篇]", 0)%><span>上一篇</span></li>
                <li><%=get_prevandnext_article("news_show", 1, "[已经是最后一篇]", 0)%><span>下一篇</span></li>
            </ul>
    </div>
    <!--/上下篇-->
      
    </div>
  </div>
  </div>
<!--content end-->
<!--Footer-->
<%template src="_footer.html"%>
<!--/Footer-->
		<!--quick nav start-->
        <%template src="_quick_nav.html"%>
        <!--quick nav end-->
</div>
</body>
</html>