<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{get_channel(channel).title} - {site.name}</title>
<meta name="keywords" content="{site.seo_keyword}" />
<meta name="description" content="{site.seo_description}" />
    <link href="<%templateskin%>/css/common.css" rel="stylesheet" type="text/css" />
    <link href="<%templateskin%>/css/second.css" rel="stylesheet" type="text/css" />
    <link href="<%templateskin%>/css/base.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/common.js"></script>

<script type="text/javascript">
$(function(){
	$(".focusbox").flexslider({
		directionNav: false,
		pauseOnAction: false
	});
});
</script>
</head>

<body>
	<div class="wrap">
<!--Header-->
<%template src="_header.html"%>
<!--/Header-->
 <!--content begin-->
  <div class="content work">
    <div class="banner02"><img src="<%templateskin%>/images/banner_02.jpg" width="918" height="226" alt="党群工作" title="党群工作" /></div>
    <div class="left">
      <div class="work_pic">
 		<script type="text/javascript" src="/plugins/advert/advert_js.ashx?id=1"></script>
      </div>
      
	<%set DataTable categoryList=get_category_child_list(channel,0)%>
	<%loop cdr1 categoryList%>
	<%if(cdr1__loop__id==1)%>
	<div class="work_news">
	<h3><span><a href="<%linkurl(channel+"_list",{cdr1[id]})%>">更多>></a></span>{cdr1[title]}</h3>
        <ul>
		  <%set DataTable hotLista=get_article_list(channel, {strtoint({cdr1[id]})}, 6, "status=0")%>
	      <%loop cdr2 hotLista%>
	      <li><span><%datetostr({cdr2[add_time]},MM-dd)%></span><a target="_blank"  href="<%linkurl(channel+"_show",{cdr2[id]})%>">{cdr2[title]}</a></li>
	      <%/loop%>
	    </ul>
	</div>
	<%else%>
	<%/if%>
	<%/loop%>
    </div>
    <div class="right">
    	<%loop cate2 categoryList%>
		<%if(cate2__loop__id>1)%>
		<div class="work_mob">
		<h3><span><a href="<%linkurl(channel+"_list",{cate2[id]})%>">更多>></a></span>{cate2[title]}</h3>
	        <dl>
	        	<dt><a href="javascript:void(0)" id="AUrl6" target="_blank"><img src="{cate2[img_url]}" id="ImgNews6" width="110" height="80" /></a></dt>
				  <%set DataTable hotListb=get_article_list(channel, {strtoint({cate2[id]})}, 5, "status=0")%>
			      <%loop cdr3 hotListb%>
			      <dd><span><%datetostr({cdr3[add_time]},MM-dd)%></span><a target="_blank"  href="<%linkurl(channel+"_show",{cdr3[id]})%>">{cdr3[title]}</a></dd>
			      <%/loop%>
		    </dl>
		</div>
		<%else%>
		<%/if%>
		<%/loop%>
    </div>
    <div class="clear"></div> 
  </div>
  <!--content end-->
  <div class="clear"></div>
<!--Footer-->
<%template src="_footer.html"%>
<!--/Footer-->
</div>
</body>
</html>